{% extends "masterPage.html.twig" %}

{% block title %} Descriptif article {% endblock %}

{% block content %}
<!-- Déroulents des catégories -->
<div class="row col-md-12" style="width:100%; margin:0;">
		{% for categorie in categories %}
			<div class="col-md-4">
				<div class="dropdown">
					<button class="col-sm-12 btn btn-secondary dropdown-toggle" 
					type="button" 
					id="dropdownMenu1" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false"> {{ categorie.libelle }}
					</button>
					<div class="col-sm-12 dropdown-menu textCentre" aria-labelledby="dropdownMenu1">
						<hr/ class= "separation">
						{% for subcat in categorie.subcat %}
							<button class="dropdown-item"><a href="index.php?subcat={{ subcat.id }}">{{ subcat.libelle }}</a></button>
						<hr/ class= "separation">
						{% endfor %}
					</div>
				</div>	
			</div>
		{% endfor %}
	</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row"style="border: 5px black solid ; background-color: whitesmoke; padding: 40px 40px 40px 40px">
            <div class="col-md-3">
                <a href="index.php?idArticle={{ article.id }}">
                <img class="imgArticle" src="src/img/articlesImage/{{ article.image_src }}.png" alt="{{ article.libelle }}" id='parametre' class='categImage'  />
                </a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <label for="prix"><h3>{{ article.libelle }}</h3></label>
                    </div>
<!--Prix par la BDD-->
                    <div class="col-md-4" style="border: 5px black solid; text-align: center; color:#8ad0b0; border-radius: 8px;";>
                        <label class="label"><h4>Prix: {{ article.prix }} €</h4></label>
                    </div>
                </div></br>
                <p style="height: 82px; overflow: hidden; text-overflow: ellipsis">{{ article.description }}</p>
                <div class="row">
<!--Couleur par la BDD-->
                    <div class="col-md-4">
                        <div class="dropdown">
                            <!--<button class="btn btn-secondary col-md-10 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Couleur</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
                                <select name="couleurs">
                                {% for couleur in articleCouleur %}
                                    <option value={{couleur.id}}>{{ couleur.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
<!--Taille par la BDD-->
                    <div class="col-md-4">
                        <div class="dropdown">
                            <!--<button class="btn btn-secondary col-md-10 dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Taille</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">-->
                                <select name="tailles">
                            {% for taille in articleTaille %}
                            <option value={{taille.id}}>{{ taille.libelle }}</option>
                            {% endfor %}
                                </select>
                        </div>
                    </div>
<!--Quantité article-->
                    <div class="col-md-4">
                            <input id="number" name= "quantite" type="number" value="1" class="col-md-10" style= "border-radius: 6px";>
                    </div>
                </div></br>
<!-- Bouton caché -->
                    <input name="idPanierArticle" type="hidden" value={{ article.id }}>
<!--Prix par la BDD-->
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            {% if session.prenom is defined %}
                                <button id="btnEnvoiePanier" class="btn btn-dark btn-noDecoration">Ajouter au panier</button>
                            {% else %}
                                <button class="btn btn-dark btn-noDecoration">Vous devez vous connecter</button>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="col-md-1"></div>
</div> 
    {% endblock %}