{% extends "masterPage.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}

<!-- Déroulents des catégories -->
	<div class="row col-md-12" style="width:100%; margin:0;">
		{% for categorie in categories %}
			<div class="col-md-4">
				<div class="dropdown">
					<!--id="dropdownMenu1" -->
					<button class="col-md-12 btn btn-secondary dropdown-toggle" 
					type="button" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false"> {{ categorie.libelle }}
					</button>
					<div class="col-md-12 dropdown-menu textCentre" aria-labelledby="dropdownMenu1">
						<hr class= "separation">
						{% for subcat in categorie.subcat %}
							<button class="dropdown-item"><a href="index.php?subcat={{ subcat.id }}">{{ subcat.libelle }}</a></button>
						<hr class= "separation">
						{% endfor %}
					</div>
				</div>	
			</div>
		{% endfor %}
	</div>
	
	<div style="width:100%; height: 15px;"></div>


	<div class= "row" style="width:100%; margin:0;">
		<div class="col-md-1"></div>
		<div class="col-md-5">
				<div style="height: 100px;"></div>
			<!-- Box News (raw contre l'échappament)-->
			<div id="boxtexteacceuil" class= "news col-md-12">{{ news.message|raw }} 
			</div>
		</div>
		<div class="col-md-6">
			<div class= "row">
				<div class="col-md-2"></div>
				<!-- Image random -->
				<div class="col-md-4">
					<img class="zoom" style="height: 150px; width: 150px;" src="{{ randomImage }} " alt="article aléatoire" ;/>
					<img class="zoom" style="height: 150px; width: 150px;" src="{{ randomImage1 }} " alt="article aléatoire" ;/>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<img class="zoom" style="height: 150px; width: 150px;" src="{{ randomImage2 }} " alt="article aléatoire" ;/>
					<img class="zoom" style="height: 150px; width: 150px;" src="{{ randomImage3 }} " alt="article aléatoire" ;/>	
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div style="width:100%; height: 60px;"></div>

{% endblock %}