{% extends "masterPage.html.twig" %}

{% block title %}panier - {% endblock %}

{% block content %}
<!-- Déroulents des catégories -->
<div class="row">
	{% for categorie in categories %}
		<div class="col-md-4">
			<div class="dropdown">
				<button class="col-sm-12 btn btn-secondary dropdown-toggle" 
				type="button" 
				id="dropdownMenu1" 
				data-toggle="dropdown" 
				aria-haspopup="true" 
				aria-expanded="false"> {{ categorie.libelle }}
				</button>
				<div class="col-sm-12 dropdown-menu textCentre" aria-labelledby="dropdownMenu1">
				<hr/ class= "separation">
					{% for subcat in categorie.subcat %}
						<button class="dropdown-item"><a href="index.php?subcat={{ subcat.id }}">{{ subcat.libelle }}</a></button>
						<hr/ class= "separation">
					{% endfor %}
				</div>
			</div>	
		</div>
	{% endfor %}
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2 bordPanier">
            Libellé
            </div>
            <div class="col-md-2 bordPanier">
            Couleur
            </div>
            <div class="col-md-2 bordPanier">
            Taille
            </div>
            <div class="col-md-2 bordPanier">
            Prix Unitaire
            </div>
            <div class="col-md-2 bordPanier">
            Quantité
            </div>
            <div class="col-md-2 bordPanier">
            Prix
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% set total = 0 %}
{% for articlesPanier in articlesPaniers %} 
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2 bordPanier">
                {% for article in articles %}
                    {% if articlesPanier.id_article == article.id %}
                        {{ article.libelle }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2 bordPanier">
                {% for couleur in couleurs %}
                    {% if articlesPanier.id_couleur == couleur.id %}
                        {{ couleur.libelle }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2 bordPanier">
                {% for taille in tailles %}
                    {% if articlesPanier.id_taille == taille.id %}
                        {{ taille.libelle }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2 bordPanier">
                {% for article in articles %}
                    {% if articlesPanier.id_article == article.id %}
                        {{ article.prix }}€
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2 bordPanier">
                {{articlesPanier.quantite}}
            </div>
            <div class="col-md-2 bordPanier">
                {% for article in articles %}
                    {% if articlesPanier.id_article == article.id %}
                        {{ article.prix * articlesPanier.quantite}}
                        {% set total = total + article.prix * articlesPanier.quantite %}€
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endfor %}
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10 bordPanier">
                Total:
                </div>
                <div class="col-md-2 bordPanier">
                {{total}}€
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}