<div class="row">
    <div class="col-sm-12">
        <div class="row" style="border: 1px black solid">
            <div class="col-sm-5">
                <div class="row" style="padding-top: 18px;">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <div style="width: 80px; height: 80px;">



                            <a href="index.php?idArticle={{ article.id }}">
                                <img class="imgArticle" src="src/img/boutons/{{ article.image_src }}.png" alt="{{ article.libelle }}" id='parametre' class='categImage' />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="prix">{{ article.libelle }}</label>
                        <label type="text" class="form-control" id="prix">{{ article.prix }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Articles Boutons:
    <div>
        <img src="../src/img/boutons/boutonsEnfants.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonRouge.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonBlanc.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonBleue.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
    </br>
        <img src="../src/img/boutons/boutonsSmiley.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonCoeur.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonSourire.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonLangue.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
    </br>
        <img src="../src/img/boutons/boutonsRetro.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonRetro1.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonRetro2.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
        <img src="../src/img/boutons/boutonRetro3.png" alt="parametre sygle" height="200" width="200" id='parametre' class='categImage'>
    </div>
    -->
